.message {
  font-family: sans-serif;
  border: white;
  padding: 5px;
  border-style: solid;
  /* border-bottom-style: none; */
  border-width: 1.5px;
  white-space: pre;

  background-color: #0056FF;
  color: aliceblue;
}

.emph-word {
  font-weight: bold;
  color: yellow;
}
