
<div class="letter">
  <ul>
    <li *ngFor="let letter of lettersMix.split('')">
      <button >{{letter.toUpperCase()}}</button>
    </li>
  </ul>
</div>
<div class="clear"></div>

<div>
  <label class="word">Enter a valid word:
    <input
    [(ngModel)]="enteredWord"
    placeholder="word"
    (keyup)="$event.keyCode == 13 && checkWords(enteredWord)">
  </label>
  <!-- <button (click)="checkWords(enteredWord)">Check</button> -->
</div>

<div id="message">
  Check the validity of the word
</div>
