.letter {
  display: block;
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 0px;

}

.letter ul{
  list-style-type: none;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  width: max-content;
}

.letter li {
  float: left;
  padding: 2px;
}

.letter button {
  background-color: #0056FF;
  color: aliceblue;
  border: mintcream;
  text-align: center;
  font-weight: bolder;
  font-size: 16pt;
  width: 1.5em;
  height: 1.5em;
}

.letter button:hover {
  background-color: #5599FF;
}

.letter button:active {
  background-color: #EEEEEE;
  color:#0056FF;
}


.clear {
  clear: both;
}

.word {
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
}

.word input {
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  width: 80%;
  padding: 12px 20px;
  margin-top: 2em;
  margin-bottom: 2em;

  font-size: 14pt;
  /* margin */
}

#message {
  font-family: sans-serif;
  color: darkred;
  white-space: pre;
}

